<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(customer){ %>
        <li>
            Nome: <%= customer.nome %>
        </li>
        <li>
            Data de Nascimento: <%= customer.dataDeNascimento.toString() %>
        </li>
        <li>
            Telefone: <%= customer.telefone %>
        </li>
        <li>
            Sutiã: <%= customer.tamanhoSutia %> / Calcinha: <%= customer.tamanhoCalcinha %>
        </li>
        <li>
            Obs.: <%= customer.observacoes %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
