<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <% docs.forEach(function(customer){ %>
  <ul>
    <li>
      Nome:
      <%= customer.nome %>
    </li>
    <li>
      Data de Nascimento:
      <%= customer.dataDeNascimento.toString() %>
    </li>
    <li>
      Telefone:
      <%= customer.telefone %>
    </li>
    <li>
      Sutiã:
      <%= customer.tamanhoSutia %> / Calcinha:
      <%= customer.tamanhoCalcinha %>
    </li>
    <li>
      Obs.:
      <%= customer.observacoes %>
    </li>
    <li>
      <a href="/edit/<%= customer._id %>">
        Atualizar dados
      </a>
    </li>
    <li>
      <a href="/delete/<%= customer._id %>" onclick="confirm('Você deseja excluir <%= customer.nome %>?')">
        Deletar cliente
      </a>
    </li>
  </ul>
  <% }) %>
  <a href="/new">Cadastrar novo cliente</a>
</body>

</html>