<!DOCTYPE html>
<html>
  <head>
    <% include includes/head.ejs %>
  </head>

  <body>
    <main class="main-container">
      <% include includes/header.ejs %> <%- include('includes/menu', { page:
      'clientes', form: 'new' }) %>

      <section class="conteudo-principal">
        <h2><%= title %></h2>
        <form action="<%= action %>" method="POST">
          <h3>Dados Pessoais</h3>
          <div class="form-group">
              <label for="nome">Nome:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend1">
                      <i class="fas fa-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  name="nome"
                  class="form-control form-name"
                  value="<%= doc.nome %>"
                  aria-describedby="inputGroupPrepend1"
                  required
                />
              </div>
          </div>
          <div class="form-group">
              <label for="dataDeNascimento">Data de Nascimento:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2">
                      <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                <input
                  type="text"
                  name="dataDeNascimento"
                  class="form-control form-date"
                  value="<%= doc.dataDeNascimento %>"
                  aria-describedby="inputGroupPrepend2"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="telefone">Telefone/Whatsapp:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend3">
                      <i class="fab fa-whatsapp"></i>
                  </span>
                </div>
                <input
                  type="tel"
                  name="telefone"
                  class="form-control form-phone"
                  value="<%= doc.telefone %>"
                  aria-describedby="inputGroupPrepend3"
                />
            </div>
          </div>
          <h3>Tamanhos</h3>
          <div class="form-group">
            <label for="tamanhoSutia">Sutiã:</label>
            <select name="tamanhoSutia" value="<%= doc.tamanhoSutia %>">
              <option value="PP">PP (36/38)</option>
              <option value="P">P (38/40)</option>
              <option value="M">M (40/42)</option>
              <option value="G">G (42/44)</option>
              <option value="GG">GG (44/46)</option>
              <option value="EG">EG (46/48)</option>
              <option value="XG">XG (48/50)</option>
              <option value="50">Plus 50</option>
              <option value="52">Plus 52</option>
              <option value="54">Plus 54</option>
              <option value="56">Plus 56</option>
              <option value="58">Plus 58</option>
              <option value="60">Plus 60+</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tamanhoCalcinha">Calcinha:</label>
            <select name="tamanhoCalcinha" value="<%= doc.tamanhoCalcinha %>">
              <option value="PP">PP (36/38)</option>
              <option value="P">P (38/40)</option>
              <option value="M">M (40/42)</option>
              <option value="G">G (42/44)</option>
              <option value="GG">GG (44/46)</option>
              <option value="EG">EG (46/48)</option>
              <option value="XG">XG (48/50)</option>
              <option value="50">Plus 50</option>
              <option value="52">Plus 52</option>
              <option value="54">Plus 54</option>
              <option value="56">Plus 56</option>
              <option value="58">Plus 58</option>
              <option value="60">Plus 60+</option>
            </select>
          </div>
          <div class="form-group">
            <label for="coresPreferidas">Cores Preferidas:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3">
                    <i class="fas fa-palette"></i>
                </span>
              </div>
              <input
                type="text"
                name="coresPreferidas"
                class="form-control"
                list="cores"
                value="<%= doc.coresPreferidas %>"
                placeholder="Digite a cor aqui..."
              />
              <datalist id="cores">
                <option value="azul"> </option>
                <option value="amarelo"> </option>
                <option value="vermelho"> </option>
                <option value="preto"> </option>
                <option value="bege"> </option>
                <option value="branco"> </option>
                <option value="cinza"> </option>
                <option value="verde"> </option>
                <option value="marrom"> </option>
                <option value="roxo"> </option>
                <option value="lilas"> </option>
                <option value="rosa"> </option>
                <option value="bordo"> </option>
                <option value="vinho"> </option>
                <option value="laranja"> </option>
                <option value="bronze"> </option>
                <option value="prateado"> </option>
                <option value="dourado"> </option>
              </datalist>
            </div>
          </div>
          <h3>Informações Extras</h3>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="plusSize" />
            <label class="form-check-label" for="plusSize">
              Plus Size?
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="conjunto" />
            <label class="form-check-label" for="conjunto">
              Aceita conjunto?
            </label>
          </div>
          <div class="form-group">
            <label for="observacoes">Observações:</label>
            <textarea
              name="observacoes"
              cols="30"
              rows="10"
              value="<%= doc.observacoes %>"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </section>
      <% include includes/js_footer.ejs %>
    </main>
  </body>
</html>
